*,
*::after,
*::before {
	box-sizing: border-box;
}

.animated {
	opacity: 0;
}

img {}

a:active,
a:focus {
	outline: none;
}

/* ШРИФТЫ */
@font-face {
	font-family: 'Nickainley-normal';
	src: url('../fonts/nickainley-normal.woff') format('woff');

	font-weight: 500;
	font-style: bold;
	font-display: swap;
}

@font-face {
	font-family: 'Intro-Black';
	src: url('../fonts/Intro-Black-Alt.woff') format('woff');

	font-weight: 900;
	font-style: bold;
	font-display: swap;
}

@font-face {
	font-family: 'Intro-Bold';
	src: url('../fonts/Intro-Bold-Alt.woff') format('woff');
	font-weight: 700;
	font-style: bold;
	font-display: swap;
}

@font-face {
	font-family: 'Intro-Thin';
	src: url('../fonts/Intro-Thin-Alt.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Intro-Light';
	src: url('../fonts/Intro-Light-Alt.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Intro-Regular';
	src: url('../fonts/Intro-Regular-Alt.woff') format('woff');
	font-weight: 500;
	font-style: bold;
	font-display: swap;
}


/* ШРИФТЫ */


a {
	color: inherit;
	text-decoration: none;
}

ul,
li {
	display: block;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

body {
	padding: 0;
	margin: 0;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 19px;
	line-height: 21px;
}

body.lock {
	overflow: hidden;
}


.slick-btn {
	position: absolute;

	transform: translateY(-50%);
	z-index: 5;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
}









.slick-btn1 {
	position: absolute;
	top: 90%;
	transform: translateY(-50%);
	z-index: 5;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
}


.slick-prev1 {
	right: 270px;
	position: absolute;
}

.slick-next1 {
	left: 73%;
	position: absolute;
}



.slider__button-container1 {
	height: 55px;
	width: 55px;
	border-radius: 50%;
	background: #fff;
	position: relative;
	margin-top: 756px;
	float: right;
	margin-right: 19px;

}

.slider__button-container1:hover {

	background: #fff;
	transition: all 0.5s ease 0s;
}

.slider__link-video1 {
	height: 25px;
	width: 25px;
	display: block;
	background-image: url(../img/icon/icon-phone2.svg);
	background-size: contain;
	position: absolute;
	top: 25%;
	left: 25%;
}



.slider__button-container2 {
	height: 55px;
	width: 55px;
	border-radius: 50%;
	background: #fff;
	position: relative;
	margin-top: 692px;
	float: right;
	margin-right: -55px;
}

.slider__button-container2:hover {

	background: #fff;
	transition: all 0.5s ease 0s;
}

.slider__link-video2 {
	height: 30px;
	width: 30px;
	display: block;
	background-image: url(../img/icon/video.svg.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 26%;
	left: 26%;
}

.slider__link-video2 span {
	position: absolute;
	padding: 20px;
	background-color: #ef7c1f;
	color: #fff;
	opacity: 0;
	transition: all 1s ease;
	right: 0;
	bottom: -24px;
	text-align: center;
	border-radius: 10px;
}

.slider__link-video2 span:hover {

	opacity: 1;
}






.header {
	height: 90px;
	background-size: contain;
	width: 100%;
	z-index: 50;
}



/* МЕНЮ НАВИГАЦИИ САЙТА */


.header__top {
	display: flex;
	justify-content: space-between;
	line-height: 28px;
	font-family: 'Intro-Regular';
	height: 90px;
	max-width: 1500px;
	margin: 0 auto;
	padding: 6px 15px;
}


.menu__list {
	padding-top: 19px;
}

.menu__list-item {
	display: inline-block;
	text-decoration: none;
	color: #2b2d2f;

}

.menu__list-item+.menu__list-item {
	margin-left: 52px;
}

.menu__list-link {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.2em;
	line-height: 38.4px;
	padding: 0 4px 8px;
	transition: ease all 0.1s;
}

.menu__list-link:hover {
	color: #f77810;
	font-size: 13px;

}

.header__phone {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	padding-left: 35px;
	position: relative;
	padding-top: 18px;
	font-size: 16px;
}

.header__phone::before {
	content: "";
	position: absolute;
	background-image: url(../img/icon/icon-phone2.svg);
	background-size: contain;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	left: 0;
}

.header__burger {
	display: none;
}

.progress__title {}

.progress__september {
	margin: 0 auto;

}

.container {
	padding: 50px 20px 0px;
	max-width: 1280px;
	margin: 0 auto;
}

.progress__month {
	margin-top: 30px;
	font-family: 'Intro-Thin';
	line-height: 40px;
	font-size: 40px;
	margin-bottom: 60px;
}



.progress__img {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.progress__img-link {
	z-index: 10;
}



.image {
	width: 300px;
	height: 224px;
	/* margin: 40px 5px 40px 0px; */
}

.btn__description {
	margin-top: 30px;
	margin-bottom: 10px;
}


.btn-primary {
	position: relative;
	font-family: 'Intro-Light';
}

.btn-primary::after {
	content: "";
	position: absolute;
	background-image: url(../img/progressImg/arrowModal.png);
	background-repeat: no-repeat;
	width: 70px;
	height: 30px;
	left: 175px;
}

.footer {
	margin-top: 100px;
	width: 100%;
	background-color: #a7cab0;

}

.footer__container {

	max-width: 1570px;
	margin: 0 auto;
	display: flex;
	padding: 20px;

}

.contain__logo-footer {
	padding-top: 30px;
}


.footer__descriotion {
	font-family: 'Intro-Regular';
	font-size: 18px;
	padding-top: 90px;
	letter-spacing: 1px;
	color: #fff;
	margin-left: 40px;
}

.footer__phone {
	font-family: 'Intro-Regular';
	font-size: 18px;
	padding-top: 90px;
	letter-spacing: 1px;
	color: #fff;
	margin-left: auto;
}

.footer__time {
	color: #ef7c1f;
	font-family: 'Intro-Regular';
	font-size: 18px;
	padding-top: 90px;
	letter-spacing: 1px;

	margin-left: 30px;
}


#modal1 {
	width: 1200px;
	height: 700px;
}


#modal1 h2 {
	margin-bottom: 35px;
	font-size: 23px;
}

#modal1 p {
	line-height: 40px;
	margin-bottom: 30px
}

#modal2 {
	width: 1200px;
	height: 700px;
}



#modal2 h2 {
	margin-bottom: 35px;
	font-size: 23px;
}

#modal2 p {
	line-height: 40px;
	margin-bottom: 30px
}

#modal3 {
	width: 1200px;
	height: 700px;
}



#modal3 h2 {
	margin-bottom: 35px;
	font-size: 23px;
}

#modal3 p {
	line-height: 40px;
	margin-bottom: 30px
}


#modal4 {
	width: 1200px;
	height: 700px;
}

#modal4 h2 {
	margin-bottom: 35px;
	font-size: 23px;
}

#modal4 p {
	line-height: 40px;
	margin-bottom: 30px
}


.header__phone-menu {
	display: none;
}

.header__top .show-menu {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: #ef7c1f;
	padding: 13px 21px 20px 11px;
	width: 100%;
	height: 100vh;
	z-index: 11;
}

.rotate {}

/* Cлайдер оффер */







@media screen and (max-width: 1425px) {
	.image {}
}

@media screen and (max-width: 1275px) {
	.header__phone {

		margin-left: 0px;
	}

	.menu__list-item+.menu__list-item {
		margin-left: 21px;
	}

	.menu__list-link {

		font-size: 11px;
	}

	.slider__overtitle {
		font-size: 48px;
		line-height: 52px;
	}

	.slider__subtitle {
		text-align: left;
		font-size: 21px;
		line-height: 24px;
		font-family: 'Intro-Regular';
		font-weight: 300;
		color: #fff;
		font-weight: 400;
		letter-spacing: 1.2px;
	}

	.image {}

	.progress__month {

		font-family: 'Intro-Thin';
		line-height: 40px;
		font-size: 35px;
	}

	.mb-0 {
		padding: 5px 0 5px;
	}

	.footer__descriotion {
		font-family: 'Intro-Regular';
		font-size: 16px;
		padding-top: 73px;

		margin-left: 20px;
	}

	.footer__container {
		padding: 17px 10px 40px;
	}

	.footer__time {

		font-size: 16px;
		padding-top: 73px;

		margin-left: 8px;
	}

	.footer__phone {

		font-size: 16px;
		padding-top: 73px;

	}
}


@media screen and (max-width: 1119px) {
	.image {
		width: 258px;
		height: 210px;
		margin: 2px 0px 1px 0px;
	}

	.header__phone {
		padding-left: 38px;
		position: relative;
		padding-top: 18px;
		font-size: 17px;
		margin-left: 17px;
	}

	.footer__container {
		padding: 33px 5px 40px;
	}

	.footer__descriotion {
		letter-spacing: 0px;
		font-size: 16px;
		padding-top: 62px;
		margin-left: 20px;
	}

	.footer__phone {
		letter-spacing: 0px;
		padding-top: 62px;
	}

	.footer__time {
		padding-top: 62px;
		margin-left: 8px;
		letter-spacing: 0px;
	}

}

@media screen and (max-width: 991px) {
	.header__phone {
		margin-left: -4px;
		font-size: 13px;
	}

	.menu__list-link {
		font-size: 9px;
	}

	.menu__list-item+.menu__list-item {
		margin-left: 16px;
	}


	.image {
		width: 228px;
		height: 180px;
		margin: 40px -21px 22px 20px;
	}

	.progress__month {
		margin-top: 10px;
		font-family: 'Intro-Thin';
		line-height: 40px;
		font-size: 28px;
	}

	.footer__container {
		text-align: center;
		flex-direction: column;
		padding: 20px 5px 20px;
	}

	.contain__logo-footer {
		padding-top: 0px;
	}

	.footer__descriotion {
		padding-top: 20px;
	}

	.footer__time {
		padding-top: 20px;
	}

	.footer__phone {

		font-size: 18px;
		padding-top: 20px;
		letter-spacing: 1px;
		color: #fff;
		margin-left: 0;
	}


}



@media screen and (max-width: 768px) {

	.container {
		padding: 30px 15px 0px;

	}

	body.lock {
		overflow: hidden;
	}

	.menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;
		text-align: center;
		z-index: 10;
	}

	.header__phone-menu {
		display: none;
	}

	.menu__list {
		padding-top: 70px;
	}

	.menu__list-item+.menu__list-item {
		margin-left: 0px;
	}

	.menu__list-item {
		border-bottom: 1px solid #fff;
		display: block;
		margin-bottom: 24px;
	}

	.menu__list-link {
		font-family: 'Intro-regular';
		color: #fff;
		font-size: 15px;
		line-height: 50px;
	}

	.header__burger {
		display: block;
		position: relative;
		width: 20px;
		height: 20px;
		margin-top: 29px;
		margin-right: 4px;
		z-index: 50px;
	}

	.header__burger span {
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
		transition: all 0.3s ease 0s;
		z-index: 60;
	}




	.header__burger:before,
	.header__burger:after {
		content: '';
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
		z-index: 60;
	}

	.header__burger:before {
		top: 0;
		transition: all 0.3s ease 0s;
		z-index: 60;
	}

	.header__burger:after {
		bottom: 0;
		transition: all 0.3s ease 0s;
		z-index: 60;
	}


	.header__burger.rotate span {
		transform: scale(0);

	}


	.header__burger.rotate:before {
		transform: rotate(45deg);
		top: 9px;
		color: #fff;
	}

	.header__burger.rotate:after {
		transform: rotate(-45deg);
		bottom: 9px;
		color: #fff;
	}

	.header__phone {
		margin-left: 229px;
		font-size: 16px;
		margin-top: 10px;
	}





	.header__logo-footer {
		height: 79px;
		width: 129px;
	}

	.progress__september {
		width: 100%;
	}

	.progress__img {
		width: 673px;

	}

	.image {
		width: 331px;
		height: 286px;
		margin: -21px -21px 23px 23px;
	}


	.progress__month {
		width: 100%;
		margin-bottom: 44px;
	}


}


@media screen and (max-width: 575px) {
	.header__phone {
		margin-left: 0px;
		font-size: 22px;
		margin-top: 9px;
	}



	.menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;

	}

	.menu__list-item+.menu__list-item {
		margin-left: 0px;
	}

	.menu__list-item {
		display: block;
		margin: 0px;
	}

	.menu__list-link {
		color: #fff;

	}

	.header__burger {
		display: block;
		position: relative;
		width: 20px;
		height: 20px;
		margin-top: 29px;
		margin-right: 4px;
	}

	.header__burger span {
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
	}

	.header__burger:before,
	.header__burger:after {
		content: '';
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
	}

	.header__burger:before {
		top: 0;
	}

	.header__burger:after {
		bottom: 0;
	}

	.header__phone {
		margin-left: 69px;
		font-size: 17px;
		margin-top: 9px;
	}

	.image {

		margin: 9px 0px 1px 0px;
	}

	.container {
		padding: 45px 15px 0px;
	}

	.progress__img {
		align-items: center;
		flex-direction: column;
		width: 100%;
	}

	.progress__month {
		width: 100%;
		margin-bottom: 24px;
		font-size: 37px;
		text-align: center;
	}

	.img__footer {}


	.contain__logo-footer {
		padding-top: 0px;
	}



}


@media screen and (max-width: 440px) {
	.header {
		height: 90px;

		width: 100%;
		z-index: 50;
	}

	.header__phone {
		margin-left: -28px;
		font-size: 21px;
		padding-top: 16px;
		margin-top: 8px;
	}

	.header__logo img {
		width: 80%;
	}


	#modal1 h2 {
		margin-bottom: 37px;
		font-size: 18px;
	}

	#modal2 h2 {
		margin-bottom: 37px;
		font-size: 18px;


	}

	#modal1 p {
		line-height: 31px;
		margin-bottom: 30px;
		font-size: 16px;
	}

	#modal2 p {
		line-height: 31px;
		margin-bottom: 30px;
		font-size: 16px;
	}

}


@media screen and (max-width:395px) {


	.slider__overtitle {
		font-size: 19px;
	}




	.slider__video-online {
		font-size: 11px;
		margin-left: 99px;
	}


}


@media screen and (max-width:375px) {




	.header__logo img {
		width: 80%;
	}

	.header__phone {
		padding-left: 34px;
		font-size: 19px;

	}

	.header__top {
		padding: 6px 6px;
	
	}

}